/*@font-face {
	font-family: "HackGen";
	src: url("../default/HackGen35Nerd-Regular.woff2") format("woff2"),
		url("HackGen35Nerd-Regular.woff") format("woff");
}*/
body {
	color: #e0e0e0;
	background-image: url(./BackGround.png);
	font-family: "HackGen";
	font-size: 100%;
}

h1 {
	font-size: 250%;
}

h3 {
	font-size: 160%;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 1)
}

.MenuTile {
	background-color: rgba(186, 186, 186, 0.75);
	background-size: cover;
	padding-bottom: 1%;
}

span {
	color: #e0e0e0;
}

.btn {
	background-color: #fff;
	color: #000;
	text-align: center;
	padding: 6px 1px 6px 2px;
	margin: 4px;
	height: 25px;
	transition: .3s;
}

a {
	font-size: 110%;
	line-height: 20%;
	text-decoration: none;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}