body {
	color: #e0e0e0;
	background-image: url(../default/.png);
	font-family: "../HackGen.ttf";
}

.MenuTile {
	background-color: rgba(186, 186, 186, 0.75);
	background-size: cover;
	padding-bottom: 1%;
}

span {
	color: #e0e0e0;
}

a {
	font-size: 80%;
	line-height: 40%
}

.inline {
	display: inline-block;
}
