/*@font-face {
	font-family: "HackGen";
	src: url("../default/HackGen35Nerd-Regular.woff2") format("woff2"),
		url("HackGen35Nerd-Regular.woff") format("woff");*/
}

body {
	color: #e0e0e0;
	background-image: url(./BackGround.png);
	font-family: "HackGen";
	font-size: 100%;
}

h1 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}

.MenuTile {
	background-color: rgba(186, 186, 186, 0.75);
	background-size: cover;
	padding-bottom: 1%;
}

span {
	color: #e0e0e0;
}

a {
	font-size: 80%;
	line-height: 40%
}

.inline {
	display: inline-block;
}